.text-list{
  background-color: #e9ecef;
}
.text-list a{
  color: #000;
}
.text-list:hover{
  background-color: #f0a500;
  border-color:#e9ecef;
}
.navbar{
  padding: 1.5rem 1rem;
}

.check-list{
  background-color: #ffffff;
  border-color:#f0a500;
  font-weight: 400;
}
.check-list:hover{
  background-color:#f0a500;
  border-color:#000;
  font-weight: 400;
}

.box{
  height: 160px;
  width: 100%;
}
.active{
  background-color:#cf7500;
  border-color:#e9ecef;
}
