.text-list{
  background-color: #056676;
  color: #FFFFFF;
}
.text-list:hover{
  background-color: #f0a500;
  border-color:#e9ecef;
}
.navbar{
  padding: 1.5rem 1rem;
}

.check-list{
  background-color: #056676;
  border-color:#FFFFFF;
  font-weight: 500;
  color: #FFFFFF;
}
.check-list:hover{
  background-color:#f0a500;
  color: #000;
  border-color:#000;
  font-weight: 500;
}

.box{
  height: 160px;
  width: 100%;
}
.active{
  background-color:#cf7500;
  border-color:#e9ecef;
}
