{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="container-fluid">
  <div class="jumbotron">
    <h1 class="mb-5">Italic Text Generator</h1>
    <h6 class="mb-4">Do you want to convert your text into an italic font? Then use this simple and free online italic text generator. All you have to do is write the words that you want to be converted into italics in the left hand field, then as you write it out, you’re going to see the font get converted into italic text on the right.
      Once you are done, simply copy the italic text and paste it where you want.
    </h6>

    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div class="form-group mb-4">
          <textarea class="form-control" id="sampletext" rows="6" onkeyup="cssChange()"></textarea>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="form-group mb-4">
          <div class="form-control box" >
              <div style="color: #cf7500;">
                Italic Text:
              </div>
              <span style="font-style: italic;" id="outputtext">Your output content</span>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-md-3">
        Character Count : <span id="character">0</span>
      </div>|
      <div class="col-md-3">
        Word Count : <span id="word">0</span>
      </div>
    </div>
  </div>
</div>
{% endblock %}
